@import "tailwindcss";

@config "../tailwind.config.js";

.heroui-popover[aria-hidden="false"] {
  z-index: 1000 !important; /* ensure popovers are below modals */
}

.cm-editor.cm-focused {
  outline: none !important;
}

.react-grid-item.react-grid-placeholder {
  background: rgba(59, 130, 246, 0.3) !important; /* Blue with transparency */
  border: 2px dashed #3b82f6;
  border-radius: 8px;
}

.react-grid-item.react-dragging {
  opacity: 0.8;
  z-index: 100;
}

.react-grid-item.react-dragging .drag-handle {
  cursor: grabbing !important;
}